.hero-banner{
    height:500px;

    background-image:url("assets/hero.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;
}
.card img{
    width:100%;
    border-radius:8px;
    margin-bottom:15px;
}